<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WidgetDataTransport</key>
	<string>widgetContainer-v1</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://akmumu.github.io/ttcalendar/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>CednorgFOaxIy8wQb0PNbx+OhsiGsVJtB+PvgExrtbM=</string>
</dict>
</plist>
