<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://akmumu.github.io/ttcalendar/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>rh5+3ITLzJyLhYYRfDyj0xb7BoZdG3JzYF7at/h4ktU=</string>
</dict>
</plist>
